{% extends "index.html" %}
{% block body %}
<div style="padding: 50px;">
    <h2>How does it work?</h2>
    <p style="width: 800px;text-align: justify;">Using a list of existing names, the algorithm generates new unique Khajiit names that can be used for Role-play. More races
    might come in the future. The source of the Khajiit names sample comes from <a href="https://en.uesp.net/wiki/Lore:Khajiit_Names">this website</a> . If you want to work on the website or contact me, you can find
    the source code on Github: <a href="https://github.com/jaypey/wnamegen">https://github.com/jaypey/wnamegen</a>. </p>
</div>
{% endblock %}